/* Custom Styles */
header {
    height: 60vh; /* Adjust height as needed */
    background-image: url('/assets/headerbg.jpg ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

#services .card {
    transition: transform 0.3s ease;
}

#services .card:hover {
    transform: translateY(-10px);
}

#services .card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

#services .card i {
    color: #ff4d4d; /* Icon color */
}

#services .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#about img {
    border: 5px solid #e60000; /* Optional: Add a border around the image */
}

blockquote {
    background-color: #f8f9fa;
    border-left: 5px solid #e60000;
    padding: 20px;
    border-radius: 5px;
}

blockquote p {
    font-size: 1.2rem;
}

footer {
    background-color: #333;
}

footer a {
    font-size: 1.2rem;
    margin-left: 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ff4d4d; /* Change icon color on hover */
}
