/* Custom Styles */
header {
    background-image: linear-gradient(to right, #e60000, #ff4d4d);
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

#about img {
    border: 5px solid #e60000; /* Optional: Add a border around the image */
}

blockquote {
    background-color: #f8f9fa;
    border-left: 5px solid #e60000;
    padding: 20px;
    border-radius: 5px;
}

blockquote p {
    font-size: 1.2rem;
}

footer {
    background-color: #333;
}

footer a {
    font-size: 1.2rem;
    margin-left: 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ff4d4d; /* Change icon color on hover */
}
